<div class="wrapper" (window:resize)="this.draw(-1, [], '')">
  <div class="interactions">
    <h1 class="title">Tabel Hash</h1>
    <form [formGroup]="form">
      <input name="InsertValue" type="number" formControlName="InsertValue" />
      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.insert()"
      >
        Adauga numar
      </button>
      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.remove()"
      >
        Scoate Numar
      </button>
      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.search()"
      >
        Cauta Numar
      </button>
      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="
          $event.preventDefault(); this.modulo = this.value; this.checkModulo()
        "
      >
        Schimba Modulo
      </button>
    </form>
  </div>
  <canvas id="Canvas" width="1920" height="1080"></canvas>
</div>
