<h1 class = "text-center font-medium text-2xl md:text-3xl"> Welcome To <b class = "text-3xl md:text-5xl">D</b>ata<b class = "text-3xl md:text-5xl">S</b>tructures<b class = "text-3xl md:text-5xl">V</b>isualiser!</h1>

<div class ="grid grid-cols-1 md:grid-cols-2">
    <div class = "m-10 text-justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt semper nibh eu finibus. Morbi sed nulla arcu. Nunc condimentum lectus nec magna volutpat, quis pretium enim lacinia. Cras justo erat, pulvinar eu erat ac, iaculis congue quam. In hac habitasse platea dictumst. Maecenas posuere ex et magna facilisis, auctor sodales ipsum volutpat. Nunc elementum in mi vel lobortis. In sed tincidunt tellus. Proin quis elementum sapien. 
        </p>
    </div>
    <div class = "m-10 text-justify">
        <p>
        Suspendisse pulvinar sodales mauris vitae egestas. Integer dapibus nibh lorem, a consectetur mauris imperdiet ut. Aenean ultricies purus in ipsum cursus elementum. Cras accumsan lobortis porttitor. Maecenas sed erat vulputate, blandit ipsum a, vehicula nunc. Aenean ornare vitae odio ac commodo. Proin id quam id ipsum fringilla condimentum. 
    </p>
    </div>

</div>