<div class="wrapper">
  <h1 class="title">
    Welcome To <b>D</b>ata <b>S</b>tructures <b>V</b>isualiser!
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="body">
      <ul>
        <li>
          <p>
            Acest website este creat pentru persoanele interesate de Structuri
            de Date si Algoritmica care simt nevoia de a vizualiza ceea ce
            invata pentru o intelegere mai profunda.
          </p>
        </li>
        <li>
          <p>Caracteristicile Principale:</p>
          <ol>
            <li>
              Interfata Intuitiva. <br />Website-ul ofera o interfata simpla si
              intuitiva, usor de navigat.
            </li>
            <li>Vizualizare Grafica. <br /></li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="body">
      <p>
        Dezvoltarea acestui website a fost realizata la indrumarea Lect. dr.
        Marius Adrian Dumitran, de catre Alexe Vasile Paul, student in anul III
        la Facultatea de Matematica si Informatica din cadrul Universitatii Din
        Bucuresti si acesta reprezinta lucrarea de licenta.
      </p>
    </div>
  </div>
</div>

<!--
    Descriere:
VisualDataStructures este un website interactiv ce oferă utilizatorilor posibilitatea de a explora și înțelege mai bine diferitele structuri de date folosite în programare. Cu ajutorul acestei platforme, utilizatorii pot vizualiza grafic modul în care diferite structuri de date funcționează, cum ar fi liste, stive, cozi, arbori, și multe altele.

Caracteristici principale:

    Interfață intuitivă: Website-ul oferă o interfață simplă și intuitivă, ușor de navigat chiar și pentru utilizatorii fără experiență în programare.

    Vizualizare grafică: Utilizatorii pot vizualiza structurile de date sub formă de diagrame sau grafice interactive, ceea ce le permite să înțeleagă mai bine modul în care funcționează acestea.

    Structuri de date multiple: Platforma suportă o varietate de structuri de date, de la cele mai simple, cum ar fi vectori și liste, până la cele mai complexe, precum arbori și grafuri.

    Operare interactivă: Utilizatorii pot efectua diferite operațiuni asupra structurilor de date, cum ar fi adăugarea, ștergerea, căutarea și sortarea elementelor, și pot observa imediat efectele acestor operații în cadrul vizualizării grafice.

    Exemple și tutoriale: Platforma oferă exemple practice și tutoriale pentru fiecare structură de date, ajutând utilizatorii să înțeleagă mai bine utilizarea și implementarea acestora în codul lor.

    Compatibilitate multi-platformă: Website-ul este compatibil cu diferite dispozitive și platforme, permițând utilizatorilor să acceseze și să utilizeze platforma de oriunde și oricând.

Scopul:
Scopul VisualDataStructures este de a facilita învățarea și înțelegerea conceptelor legate de structurile de date în programare. Prin intermediul vizualizărilor grafice și a interacțiunii interactive, platforma își propune să facă procesul de învățare mai accesibil și mai plăcut pentru utilizatori, indiferent de nivelul lor de experiență în programare.

-->
