<div class="wrapper">
    <h1 class="title">
        <b>D</b>
        ata
        <b>S</b>
        tructures
        <b>V</b>
        isualiser!
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="body">
            <ul>
                <li>
                    <p>
                        Acest website este creat pentru persoanele interesate de
                        Structuri de Date si Algoritmica care simt nevoia de a
                        vizualiza ceea ce invata pentru o intelegere mai
                        profunda.
                    </p>
                </li>
                <li>
                    <p>Caracteristicile Principale:</p>
                    <ol>
                        <li>
                            Interfata Intuitiva.
                            <br />
                            Website-ul ofera o interfata simpla si intuitiva,
                            usor de navigat.
                        </li>
                        <li>
                            Vizualizare Grafica.
                            <br />
                            Utilizatorii pot vizualiza structurile de date sub
                            forma de diagrame sau grafice interactive, ceea ce
                            le permite sa înteleaga mai bine modul în care
                            functioneaza.
                        </li>
                        <li>
                            Structuri de date multiple:
                            <br />
                            Platforma suporta o varietate de structuri de date,
                            de la cele mai simple, cum ar fi liste simplu
                            inlantuite, pana la cele mai complexe, precum arbori
                            binari de cautare.
                        </li>
                        <li>
                            Operare interactiva:
                            <br />
                            Utilizatorii pot efectua diferite operatiuni asupra
                            structurilor de date, cum ar fi adaugarea, stergerea
                            si cautarea, si pot observa imediat efectele acestor
                            operatii în cadrul vizualizarii grafice.
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="body">
            <p>
                Website-ul de fata a fost conceput sub îndrumarea profesorului
                lector doctor, Dumitran Marius Adrian, şi a fost dezvoltat de
                catre Alexe Vasile Paul, student în al treilea an la Facultatea
                de Matematica şi Informatica din cadrul Universitatii din
                Bucuresti, acesta transformandu-l într-un proiect de licenta.
                Studentul şi-a dedicat eforturile în elaborarea acestui proiect,
                reflectand atat abilitatile tehnice, cat şi cunoştintele
                teoretice acumulate de-a lungul studiilor sale universitare.
            </p>
        </div>
    </div>
</div>
