<div class="wrapper" (window:resize)="this.draw([], '')">
  <div class="interactions">
    <h1 class="title">Arbore Binar De Cautare</h1>
    <div *ngIf="tooMuch == 1" class="tooMany">
      Too Many Values!
      <br />
      Remove before inserting again!
    </div>
    <div *ngIf="tooMuch == 0.5" class="cap">
      You hit the size cap!
      <br />
    </div>
    <form>
      <div class="list">
        <input name="InsertValue" [(ngModel)]="this.numberList" />
        <button
          type="submit"
          [disabled]="this.disabled"
          (click)="
            $event.preventDefault(); this.insertArray(); this.draw([], '')
          "
        >
          Adauga Lista De Numere
        </button>
      </div>
    </form>
    <form>
      <input name="InsertValue" type="number" [(ngModel)]="this.value" />

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.insert(); this.draw([], '')"
      >
        Adauga numar
      </button>

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.search(); this.draw([], '')"
      >
        Cauta numar
      </button>

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.remove(); this.draw([], '')"
      >
        Scoate numar
      </button>
    </form>
  </div>
  <canvas id="Canvas" width="1920" height="1080"></canvas>
</div>
