<div class="descriptions">
  <h1 class="descriptionsTitle">Arbore Binar de Cautare</h1>
  <ul>
    <h1 class="op"></h1>
    <li>
      <p>
        Un <b>arbore binar de cautare </b> este un arbore cu proprietatea ca
        fiul stang al unui nod este mai mic decat acesta iar cel drept este mai
        mare decat acesta.
      </p>
    </li>
    <li>
      <h1 class="op">Inaltimea Arborelui Binar de Cautare</h1>
    </li>
    <p>
      Inaltimea arborelui este "fluida", in functie de cat de echilibrat este,
      poate sa fie intre <b>log(n) si n</b>.
    </p>
    <li>
      <h1 class="op">Cautare numar</h1>
    </li>
    <p>
      Complexitate: O(h), unde h este intaltimea arborelui. <br />
      Pornesc din radacina si compar nodul actual cu cel cautat, daca cel cautat
      este mai mic decat cel pe care ma aflu ma duc in stanga, altfel in
      dreapta. Daca este egal, ma opresc. Daca ajung intr-un nod vid (sau observ
      ca ar trebui sa merg intr-unul), ma opresc cu un raspuns negativ.
    </p>
    <li>
      <h1 class="op">Adaugare numar</h1>
    </li>
    <p>
      Complexitate: O(h), unde h este inaltimea arborelui. <br />
      Caut numarul iar daca acesta nu exista, il inserez unde "ma asteptam" sa
      fie.
    </p>
    <li>
      <h1 class="op">Adaugare lista de numere</h1>
    </li>
    <p>
      Complexitate: O(N * h), unde h este inaltimea arborelui. <br />
      In cadrul acestei operatii, se efectueaza <b>N</b> inserari, in ordinea
      perfecta, astfel avand o inaltime cat mai apropiata de log(N)
    </p>
    <li>
      <h1 class="op">Sterge Numar</h1>
    </li>
    <p>
      Complexitate: O(h), unde h este inaltimea arborelui. <br />
      Pentru a sterge un numar, mai intai il caut, daca nu il gasesc, ma
      opresc.<br />
      Daca il gasesc am mai multe cazuri:
    </p>
    <ol>
      <li><h1>Nu are niciun fiu</h1></li>
      <p>Poate fi sters direct.</p>
      <li><h1>Are un fiu</h1></li>
      <p>Inlocuiesc nodul pe care vreau sa il sterg cu fiul acestuia</p>
      <li><h1>Are doi fii</h1></li>
      <p>
        Inlocuiesc nodul pe care vreau sa il sterg cu succesorul/predecesorul
        acestuia
      </p>
    </ol>
  </ul>
</div>
<div class="wrapper" (window:resize)="this.draw([], '')">
  <div class="interactions">
    <h1 class="title">Arbore Binar De Cautare</h1>
    <div *ngIf="tooMuch == 1" class="tooMany">
      Too Many Values!
      <br />
      Remove before inserting again!
    </div>
    <div *ngIf="tooMuch == 0.5" class="cap">
      You hit the size cap!
      <br />
    </div>
    <form>
      <div class="list">
        <input name="InsertValue" [(ngModel)]="this.numberList" />
        <button
          type="submit"
          [disabled]="this.disabled"
          (click)="
            $event.preventDefault(); this.insertArray(); this.draw([], '')
          "
        >
          Adauga Lista De Numere
        </button>
      </div>
    </form>
    <form [formGroup]="form">
      <input name="InsertValue" type="number" formControlName="InsertValue" />

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.insert(); this.draw([], '')"
      >
        Adauga numar
      </button>

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.search(); this.draw([], '')"
      >
        Cauta numar
      </button>

      <button
        type="submit"
        [disabled]="this.disabled"
        (click)="$event.preventDefault(); this.remove(); this.draw([], '')"
      >
        Scoate numar
      </button>
    </form>
  </div>
  <canvas id="Canvas" width="1920" height="1080"></canvas>
</div>
