<div class="container mx-auto m-3 w-full" (window:resize) = "this.draw([],'')">
  
    <form class="text-center">
      <input name = "InsertValue" type="number" style = "width:16vw" class = "text-left border-solid border border-sky-500 p-1 mt-2 bg-slate-100 hover:border-blue-500 mx-auto" [(ngModel)]="this.value">
      <br>
      <div class ="inline-block mx-auto text-center" style = "width:17vw">
      <button 
        type = "submit" 
        class="inline-block border-solid border border-sky-500 p-1 mr-4 mt-2 bg-slate-100 hover:border-blue-500 mx-auto" 
        (click) = "$event.preventDefault(); this.insert(); this.draw([],'')"
        >Adauga numar</button>
      </div>
    </form>
    <div class="text-center">
      <button 
      class="inline border-solid border border-sky-500 p-1 mt-2 mr-4 bg-slate-100 hover:border-blue-500 mx-auto" 
      (click) = "$event.preventDefault(); this.remove(); this.draw([],'')"
      >Scoate minimul</button>
    </div>
    <div *ngIf = "tooMuch == 1" class ="text-red-600 text-center font-bold text-2xl">
      Too Many Values!
      <br>
      Remove before inserting again!
    </div>
    <div *ngIf = "tooMuch == 0.5" class ="text-yellow-600 text-center font-bold text-2xl">
      You hit the size cap!
      <br>
    </div>
      <canvas id="Canvas" class = "mx-auto m-10 border-2 border-solid border-black" style = "width:100%" width="1920" height="1080"></canvas>
    </div>