button, input{
    border-color: var(--clr-accent);
    background-color: var(--clr-secondary);
    color: var(--clr-text);
    border-style: solid;
    border-width: 1px;
    border-color: var(--clr-secondary);
}
input[type="number"]{
    -webkit-appearance: none;
    appearance:inherit;
    -moz-appearance: textfield;
}
button:hover,
input:hover{
    border-color: var(--clr-big-accent);
}
h1,p{
    color: var(--clr-text);
}

.wrapper{
    display: flex;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    justify-content: space-between;
}

.interactions{
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    padding-right: 2rem;
    padding: 3rem;
    width:20%;
    background-color: var(--clr-secondary);
    border-radius: 25px;
    margin-right:2rem;
}

canvas{
    display: inline-block;
    width: 70%;
    height:100%;
    margin-top: 2rem;
    margin-left: 2rem;
}

button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    padding:1rem;
    background-color: var(--clr-primary);
    border-radius: 20px;
    margin-top:1rem;
}

input{
    background-color: white;
    color:black;
    width:90%;
    padding: 1rem;
    border-radius: 20px;
}

.title{
  color: var(--clr-text);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin-bottom: 3rem;
}

@media (min-width:768px){
    
}

@media (min-width:1000px){
    .operationContainer{
        grid-template-columns: auto auto;
    }
}